.rbc-calendar {
  background-color: #F5F8F7; /* Light background color */
}

.rbc-event {
  background-color: #0E4823; /* Dark green for events */
  color: white;
}

.rbc-toolbar button {
  color: #0E4823; /* Dark green for toolbar */
}

.rbc-day-bg {
  background-color: #E7ECE9; /* Light gray for day backgrounds */
}
